.footer-details{
  margin-top: auto;
  padding: 2.5rem;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #FFFFFF;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  width: 100%;
  position: fixed;
}
.footer-branding{
  color: #0E72ED;
  margin-left: .5rem;
  font-weight: 700;
}