*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  overflow-x: hidden;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-family: var(--prime-font);
}
:root{
  --prime-font: 'Roboto', sans-serif;
  --prime-color: #E9E9E9;
}